<div class="Grueso">
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>CURP del aspirante:</label>
            <input type="text" readonly class="form-control-plaintext" name="CURPD" disabled value="<%=alumno.CURPD%>">
        </div>
    </div>
    <h4>I. Datos generales</h4>
            <div class="form-row">
                <div class="form-group col-md-5">
                <label>Nombre del solicitante:</label>
                <input type="text" readonly class="form-control-plaintext" name="nombreD" disabled value="<%=alumno.nombreD%>">
                </div>
                <div class="form-group col-md-5">
                    <label>Lugar de nacimiento:</label>
                <input type="text" readonly class="form-control-plaintext" name="lugar_nacimientoD" disabled value="<%=alumno.lugar_nacimientoD%>">
                </div>
                <div class="form-group col-md-2">
                    <label>Fecha de nacimiento:</label>
                    <input type="text" readonly class="form-control-plaintext" name="fecha_nacimientoD" disabled value="<%=alumno.fecha_nacimientoD%>">
                </div>
            </div>
            <div class="form-group">
                <label>Direccion del solicitante</label>
                <input type="text" readonly class="form-control-plaintext" name="direccionD" disabled value="<%=alumno.direccionD%>">
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Numero celular de contacto:</label>
                    <input type="text" readonly class="form-control-plaintext" name="celularD" disabled value="<%=alumno.celularD%>">
                </div>
                <div class="form-group col-md-4">
                    <label>Nacionalidad:</label>
                    <input type="text" readonly class="form-control-plaintext" name="nacionalidadD" disabled value="<%=alumno.nacionalidadD%>">
                </div>
                <div class="form-group col-md-4">
                    <label>Estado civil:</label>
                <input type="text" readonly class="form-control-plaintext" name="estado_civilD" disabled value="<%=alumno.estado_civilD%>">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label>Cuenta de correo electronico:</label>
                    <input type="text" readonly class="form-control-plaintext" name="correoD" disabled value="<%=alumno.correoD%>">
                </div>
                <div class="form-group col-md-3">
                    <label>Cuenta de SKYPE:</label>
                    <input type="text" readonly class="form-control-plaintext" name="skypeD" disabled value="<%=alumno.skypeD%>">
                </div>
            </div>
</div>