<div class="Grueso">
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>CURP del aspirante:</label>
            <input type="text" readonly class="form-control-plaintext" name="CURPV" disabled value="<%= alumno.CURPD%>">
        </div>
    </div>
    <h4>I. Datos generales</h4>
            <div class="form-row">
                <div class="form-group col-md-5">
                <label>Nombre del solicitante:</label>
                <input type="text" readonly class="form-control-plaintext" name="NOMV" disabled value="<%=alumno.nombreD%>">
                </div>
                <div class="form-group col-md-5">
                    <label>Lugar de nacimiento:</label>
                <input type="text" readonly class="form-control-plaintext" name="LUGARN" disabled value="<%=alumno.lugar_nacimientoD%>">
                </div>
                <div class="form-group col-md-2">
                    <label>Fecha de nacimiento:</label>
                    <input type="text" readonly class="form-control-plaintext" name="FECHAN" disabled value="<%=alumno.fecha_nacimientoD%>">
                </div>
            </div>
            <div class="form-group">
                <label>Direccion del solicitante</label>
                <input type="text" readonly class="form-control-plaintext" name="DIRCV" disabled value="<%=alumno.direccionD%>">
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Numero celular de contacto:</label>
                    <input type="text" readonly class="form-control-plaintext" name="CELV" disabled value="<%=alumno.celularD%>">
                </div>
                <div class="form-group col-md-4">
                    <label>Nacionalidad:</label>
                    <input type="text" readonly class="form-control-plaintext" name="NACIV" disabled value="<%=alumno.nacionalidadD%>">
                </div>
                <div class="form-group col-md-4">
                    <label>Estado civil:</label>
                <input type="text" readonly class="form-control-plaintext" name="CIVV" disabled value="<%=alumno.estado_civilD%>">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label>Cuenta de correo electronico:</label>
                    <input type="text" readonly class="form-control-plaintext" name="CORREOV" disabled value="<%=alumno.correoD%>">
                </div>
                <div class="form-group col-md-3">
                    <label>Cuenta de SKYPE:</label>
                    <input type="text" readonly class="form-control-plaintext" name="SKYPEV" disabled value="<%=alumno.skypeD%>">
                </div>
            </div>
</div>